@using VKStore.ViewModels.Common;
@model PagedResult<VKStore.ViewModels.Catalog.Contacts.ContactViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid px-4">
    <h3 class="mt-4">PHẢN HỒI</h3>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Trang chủ</a></li>
        <li class="breadcrumb-item active">Phản hồi</li>
        <li class="breadcrumb-item active">Danh sách</li>
    </ol>
    <div class="card mb-4">
        <div class="card-header">
            <div class="row">
                <div class="col-md-12">
                    <form asp-action="Index" asp-controller="Contact" method="get">
                        <div class="row" style="float:right;">
                            <div class="col-md-6">
                                <input value="@ViewBag.Keyword" type="text" name="keyword" class="form-control" />
                            </div>
                            <div class="col-md-6">
                                <button class="btn btn-primary" type="submit"><i class="fa fa-search"></i></button>
                                <a class="btn btn-dark" type="submit" asp-action="Index" asp-controller="Contact">Refresh</a>
                            </div>
                        </div>

                    </form>

                </div>
            </div>
        </div>
        <div class="card-body">
            <table class="table table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>Họ và tên</th>
                        <th>Email</th>
                        <th>Ngày góp ý</th>
                        <th>Tiêu đề</th>
                        <th style="text-align: center;">Hành động</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Items)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.Name)</td>
                            <td>@Html.DisplayFor(modelItem => item.Email)</td>
                            <td>@Html.DisplayFor(modelItem => item.CreatedDate)</td>
                            <td>@Html.DisplayFor(modelItem => item.Subject)</td>
                            <td style="text-align: center;">
                                <a style="padding: 1px;" href="/Contact/Detail?id=@item.Id" class="btn btn-primary"> <i class="bi bi-info-circle"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            @await Component.InvokeAsync("Pager", Model)
        </div>
    </div>
</div>