@using VKStore.ViewModels.Common;
@model PagedResult<VKStore.ViewModels.Catalog.Products.ProductViewModel>

@{
    ViewData["Title"] = "Sản phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts{
    <script>
        setTimeout(function () {
            $('#msgAlert').fadeOut('slow');
        }, 2000);
    </script>
}
<div class="container-fluid px-4">
    <h3 class="mt-4">QUẢN TRỊ SẢN PHẨM</h3>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Trang chủ</a></li>
        <li class="breadcrumb-item active">Sản phẩm</li>
        <li class="breadcrumb-item active">Danh sách</li>
    </ol>
    <div class="card mb-4">
        <div class="card-header">
            <div class="row">
                <div class="col-md-12">
                    <form asp-action="Index" asp-controller="Product" method="get">
                        <div class="row" style="float:right;">
                            <div class="col-md-4">
                                <select name="categoryId" onchange="this.form.submit()" asp-items="@ViewBag.ListCategory" class="form-control">
                                    <option>---Chọn danh mục---</option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <input value="@ViewBag.Keyword" type="text" name="keyword" class="form-control" />
                            </div>
                            <div class="col-md-4">
                                <button class="btn btn-primary" type="submit"><i class="fa fa-search"></i></button>
                                <a class="btn btn-dark" type="submit" asp-action="Index" asp-controller="Product">Refresh</a>
                                <a style="float: right;" class="btn btn-success" asp-action="Create" asp-controller="Product">Thêm</a>
                            </div>
                        </div>

                    </form>

                </div>
            </div>
        </div>
        <div class="card-body">
            @if (ViewBag.SuccessMsg != null)
            {
                <div id="msgAlert" class="alert alert-success" role="alert">
                    @ViewBag.SuccessMsg
                </div>
            }
            <table class="table table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>Tên sản phẩm</th>
                        <th>Giá</th>
                        <th>Số lượng</th>
                        <th>Danh mục sản phẩm</th>
                        <th style="text-align: center;">Hành động</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Items)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.Name)</td>
                            <td>@Html.DisplayFor(modelItem => item.Price)</td>
                            <td>@Html.DisplayFor(modelItem => item.Quantity)</td>
                            <td>@Html.DisplayFor(modelItem => item.CategoryName)</td>
                            <td style="text-align: center;">
                                <a style="padding: 1px;" href="/Product/Update?id=@item.Id" class="btn btn-success"><i class="bi bi-pencil-square"></i></a>
                                <a href="/Product/Delete?id=@item.Id" type="button" class="btn btn-danger" style="padding: 1px;"><i class="bi bi-trash-fill"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            @await Component.InvokeAsync("Pager", Model)
        </div>
    </div>
</div>