@model VKStore.ViewModels.Catalog.Products.ProductViewModel

@{
    ViewData["Title"] = "Cập nhật sản phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts{
    <script src="https://cdn.ckeditor.com/ckeditor5/36.0.1/classic/ckeditor.js"></script>
    <script>
        ClassicEditor
            .create(document.querySelector('#txt_description'), {
                // toolbar: [ 'heading', '|', 'bold', 'italic', 'link' ]
            })
            .then(editor => {
                window.editor = editor;
            })
            .catch(err => {
                console.error(err.stack);
            });
            ClassicEditor
            .create(document.querySelector('#txt_system'), {
                // toolbar: [ 'heading', '|', 'bold', 'italic', 'link' ]
            })
            .then(editor => {
                window.editor = editor;
            })
            .catch(err => {
                console.error(err.stack);
            });
    </script>
}

<div class="container-fluid px-4">
    <h3 class="mt-4">QUẢN TRỊ SẢN PHẨM</h3>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="index.html">Trang chủ</a></li>
        <li class="breadcrumb-item active">Sản phẩm</li>
        <li class="breadcrumb-item active">Cập nhật</li>
    </ol>
    <div class="card mb-4">
        <div class="card-header">
            <B>CHI TIẾT SẢN PHẨM</B>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-8">
                    <form asp-action="Update" enctype="multipart/form-data" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input asp-for="Id" value="@Model.Id" type="hidden" class="form-control" />
                        <div class="form-group">
                            <label asp-for="Name" class="control-label"></label>
                            <input asp-for="Name" value="@Model.Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Price" class="control-label"></label>
                            <input asp-for="Price" value="@Model.Price" class="form-control" />
                            <span asp-validation-for="Price" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Quantity" class="control-label"></label>
                            <input asp-for="Quantity" value="@Model.Quantity" class="form-control" />
                            <span asp-validation-for="Quantity" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Description" class="control-label"></label>
                            <textarea id="txt_description" value="@Model.Description" asp-for="Description" rows="35" class="form-control"></textarea>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="System" class="control-label"></label>
                            <textarea id="txt_system" value="@Model.System" asp-for="System" rows="35" class="form-control"></textarea>
                            <span asp-validation-for="System" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="CategoryId" class="control-label"></label>
                            <select name="CategoryId" class="form-control" asp-items="@ViewBag.ListCategory">
                                <option value="@Model.CategoryId">@Model.CategoryName</option>
                            </select>
                            <span asp-validation-for="CategoryId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ThumbnailImage" class="control-label"></label>
                            <input asp-for="ThumbnailImage" value="@Model.ImagePath" type="file" class="form-control" />
                            <span asp-validation-for="ThumbnailImage" class="text-danger"></span>
                        </div><br />
                        <div class="form-group">
                            <input type="submit" value="Lưu" class="btn btn-primary" />
                            <a class="btn btn-secondary" asp-action="Index" asp-controller="Product">Quay lại</a>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>


