@using VKStore.ViewModels.Common;
@using VKStore.Data.Enums;
@model PagedResult<VKStore.ViewModels.Catalog.Orders.OrderViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts{
    <script>
        setTimeout(function () {
            $('#msgAlert').fadeOut('slow');
        }, 2000);
    </script>
}
<div class="container-fluid px-4">
    <h3 class="mt-4">QUẢN TRỊ SẢN PHẨM</h3>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Trang chủ</a></li>
        <li class="breadcrumb-item active">Đơn hàng</li>
        <li class="breadcrumb-item active">Danh sách</li>
    </ol>
    <div class="card mb-4">
        <div class="card-header">
            <div class="row">
                <div class="col-md-12">
                    <form asp-action="Index" asp-controller="Order" method="get">
                        <div class="row" style="float:right;">
                            <div class="col-md-6">
                                <input value="@ViewBag.Keyword" type="text" name="keyword" class="form-control" />
                            </div>
                            <div class="col-md-6">
                                <button class="btn btn-primary" type="submit"><i class="fa fa-search"></i></button>
                                <a class="btn btn-dark" type="submit" asp-action="Index" asp-controller="Order">Refresh</a>
                            </div>
                        </div>

                    </form>

                </div>
            </div>
        </div>
        <div class="card-body">
            @if (ViewBag.SuccessMsg != null)
            {
                <div id="msgAlert" class="alert alert-success" role="alert">
                    @ViewBag.SuccessMsg
                </div>
            }
            <table class="table table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>Khách hàng</th>
                        <th>Ngày đặt hàng</th>
                        <th>Số điện thoại</th>
                        <th>Email</th>
                        <th>Địa chỉ</th>
                        <th>Tổng tiền</th>
                        <th>Trạng thái</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Items)
                    {
                        <tr>
                            <td> @Html.DisplayFor(modelItem => item.ShipName)</td>
                            <td>@Html.DisplayFor(modelItem => item.OrderDate)</td>
                            <td>@Html.DisplayFor(modelItem => item.ShipPhoneNumber)</td>
                            <td>@Html.DisplayFor(modelItem => item.ShipEmail)</td>
                            <td>@Html.DisplayFor(modelItem => item.ShipAddress)</td>
                            <td>@Html.DisplayFor(modelItem => item.TotalPayment)</td>
                            <td>
                                <a style="padding: 1px;" href="/Order/Detail?id=@item.Id" class="btn btn-primary"> <i class="bi bi-info-circle"></i></a>
                                @Html.DisplayFor(modelItem => item.Status)
                            </td>
                            
                        </tr>
                    }
                </tbody>
            </table>
            @await Component.InvokeAsync("Pager", Model)
        </div>
    </div>
</div>