@model List<VKStore.ViewModels.Catalog.Categories.CategoryViewModel>
<div class="col-lg-3 d-none d-lg-block">
    <a class="btn d-flex align-items-center justify-content-between bg-warning w-100" data-toggle="collapse" href="#navbar-vertical" style="height: 65px; padding: 0 30px;">
        <h6 class="text-dark m-0"><i class="fa fa-bars mr-2"></i>DANH MỤC SẢN PHẨM</h6>
        <i class="fa fa-angle-down text-dark"></i>
    </a>
    <nav class="collapse position-absolute navbar navbar-vertical navbar-light align-items-start p-0 bg-light" id="navbar-vertical" style="width: calc(100% - 30px); z-index: 999;">
        <div class="navbar-nav w-100">
            @{
                var parents = Model.Where(x => x.ParentId == null);
            }
            @foreach (var parent in parents)
            {
                var children = Model.Where(x => x.ParentId == parent.Id);
                if (children.Any())
                {
                    <a href="/Home/Category?categoryId=@parent.Id" id="@parent.Id" name="categoryId" class="nav-item nav-link">@parent.Name</a>
                   @* <div class="nav-item dropdown dropright">
                        <a href="/Home/Category?categoryId=@parent.Id" id="@parent.Id" name="categoryId" class="nav-link dropdown-toggle" data-toggle="dropdown">@parent.Name <i class="fa fa-angle-right float-right mt-1"></i></a>
                        <div class="dropdown-menu position-absolute rounded-0 border-0 m-0">
                            @foreach(var item in children)
                            {
                                <a href="/Home/Category?categoryId=@item.Id" id="@item.Id" name="categoryId" class="dropdown-item">@item.Name</a>
                            }
                        </div>
                    </div>*@
                }
                else
                {
                    <a href="/Home/Category?categoryId=@parent.Id" id="@parent.Id" name="categoryId" class="nav-item nav-link">@parent.Name</a>
                }

            }
        </div>
    </nav>
</div>